
<html>
    <body bgcolor=#92a8d1>

        <center>

        <h1> Churn?Active customer prediction</h1><br>
        
        <form method="POST", action="{{url_for('home')}}">
           <b> # total debit traansaction for s2:  <input type="text", name='a', placeholder="enter 1"> <br><br>
            # total debit transactions for s3 :  <input type="text", name='b', placeholder="enter 2"> <br><br>
            total debit amount for s2 :  <input type="text", name='c', placeholder="enter 3"> <br><br>
             total debit amount for s3 :  <input type="text", name='d', placeholder="enter 4"> <br><br>
	# total credit transactions for s2 :  <input type="text", name='e', placeholder="enter 5"> <br><br>
	# total credit transactions for s3 :  <input type="text", name='f', placeholder="enter 6"> <br><br>
	total credit amount for s3 :  <input type="text", name='g', placeholder="enter 7"> <br><br>
	total debit amount  :  <input type="text", name='h', placeholder="enter 8"> <br><br>
	total debit transactions :  <input type="text", name='i', placeholder="enter 9"> <br><br>
	total transactions :  <input type="text", name='j', placeholder="enter 10"> <br><br>
            <input type="submit" , value='predict!' >
        </form>

        
    </center>
              {{pred}}
    </body>
</html>